/* BOX GRID -------------------------
*/

* { 
    outline: 1px transparent #947676 !important; 
    } 
    
    * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    } 

    body {
        text-align: center;
    }

    header {
        margin: 5% 0 0 0;
        text-transform: uppercase;
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
        background: rgb(216, 228, 230);
        text-align: center;
    }

    .calculator {

        border: 1px solid rgb(189, 183, 183);
        height: 100%;
        width: 40%;
        background: rgb(216, 228, 230);
        display: inline-block; 
        margin: 5% 0;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        border-radius: 5%;
    }

    .row {
        margin: 2% 0;
    }

 

    input[type=button] {
        background: rgb(10, 4, 66);
        color: white;
        padding: 2%;
        margin: 1% 0 0 0;
        font-size: 30px;
        width: 20%;
        border-radius: 20%;
    }

    input[type=button].clear {
        width: 30%;
        float: left;
        margin: 3% 0 3% 7%;
        background: rgb(77, 179, 153);
    }


    input[type=button].operator {
        background: rgb(77, 179, 153);
    }

    input[type=button].equals {
        background: rgb(77, 179, 153);
    }

    input[type=button].decimal {
        background: rgb(77, 179, 153);
    }

    .number {
        background: rgb(10, 4, 66);
        color: white;
        padding: 2%;
        margin: 1% 0 0 0;
        font-size: 30px;
        width: 20%;

    }


#displayScreen {
    font-size: 40px;
    width: 90%;
    background: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 2%;
    border-radius: 10%;
    margin: 5%;
    text-align: right;
    
}

input[type=button]:hover {
    background: grey;

}
    